<!DOCTYPE html>
<html lang="en">

  <script>
    trimSlashes = str => str.split('/').filter(v => v !== '').join('/');
  
    let sanitized = window.location.pathname;
    sanitized = trimSlashes(sanitized);
    
    const newURL = window.location.protocol + '//' + window.location.host + '/'+ sanitized;
  
    if (window.location.href !== newURL) {
       window.location.href = newURL;
    }
  </script>


<head>
  <%- include('./partials/head'); %>
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <%- include('./partials/sidebar', {links: sidebar, logo: sideTitle}) %>
    <div class="main-panel">
      <%- include('./partials/navbar', {title: navTitle}) %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <div class="col-md-4">
                    <h4 class="card-title ">Sites</h4>
                  </div>
                  <div class="col-md-8">
                    <a href="/org/<%= orgID %>/company/<%= companyID %>/users">
                      
                      <button class="btn btn-primary pull-right">
                        <i class="material-icons">people_alt</i>
                        Company Users
                      </button>
                    </a>
                  </div>
                  <p class="card-category"> Please select which site you would like to Access</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Location
                        </th>
                        <th>
                          Status
                        </th>
                        <th>
                        </th>
                      </thead>
                      <tbody>
                            <% sites.forEach(function(site) { %> 
                              <tr>
                                  <td>
                                      <%= site.name %>
                                  </td>
                                   <td class=<%= site.statusTextStyle %>> 
                                    <strong><%= site.statusText %></strong>
                                   </td> 
                                  <td> 
                                     <a  href="<%= thisURL %>/site/<%= site.id %>"><button class=<%= site.statusButtonStyle %>>Enter</button></a> 
                                   </td> 
                              </tr>
                            <% }); %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('./partials/footer') %>
    </div>
  </div>
  <%- include('./partials/foot') %>
</body>

</html>