<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <%- include('./partials/sidebar', {links: sidebar, logo: sideTitle}) %>
    <div class="main-panel">
      <%- include('./partials/navbar', {title: navTitle}) %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-nav-tabs card-plain">
                <div class="card-header card-header-primary">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <% tabBar.forEach(function(tab) { %>
                          <li class="nav-item">
                            <% if (tab.status) { %>
                              <a class="nav-link active show" href=<%= tab.url %>>
                            <% } else { %>
                              <a class="nav-link show" href=<%= tab.url %>>
                            <% } %>
                                <i class="material-icons"><%= tab.icon %></i>
                                <%= tab.text %>
                                <div class="ripple-container"></div>
                              </a>
                          </li>
                        <% }); %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title "><%= panelTitle %></h4>
                    <p class="card-category">Please Select a Door</p>
                  </div>
                  <div class="card-body">
                    <div class="col-md-5">
                      <a href="<%= thisURL %>/add"><button class="btn btn-primary">Add New Door</button></a>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <th>
                            <button onclick="sortIDDescending()">
                              <i class="material-icons">arrow_drop_down</i>
                            </button>
                            <button onclick="sortIDAscending()">
                              <i class="material-icons">arrow_drop_up</i>
                            </button>
                          </th>
                          <th>
                            <button onclick="sortDoorNameDescending()">
                              <i class="material-icons">arrow_drop_down</i>
                            </button>
                            <button onclick="sortDoorNameAscending()">
                              <i class="material-icons">arrow_drop_up</i>
                            </button>
                          </th>
                          <th>
  
                          </th>
                          <th>
  
                          </th>
                          <th>
  
                          </th>
                          <th>
  
                          </th>
                        </thead>
                        <tbody class=" text-primary">
                          <th>
                            ID
                          </th>
                          <th>
                            Door
                          </th>
                          <th>
                            IP Address
                          </th>
                          <th>
                            Status
                          </th>
                          <th>
                            Alarm
                          </th>
                          <th>
                          </th>
                        </tbody>
                        <tbody id ="doorsData">
                          <% doors.forEach(function(door) { %>
                          <tr>
                            <td>
                              <%= door.id %>
                            </td>
                            <td>
                              <%= door.name %>
                            </td>
                            <td>
                              <%= door.ip %>
                            </td>
                            <td class=<%= door.statusTextStyle %>>
                              <%= door.status %>
                            </td>
                            <td class=<%= door.alarmTextStyle %>>
                              <%= door.alarm %>
                            </td>
                            <td>
                              <a href="/org/<%= orgID %>/company/<%= companyID %>/site/<%= siteID %>/doors/<%= door.id %>"><button class="btn btn-primary">Select</button></a>
                            </td>
                          </tr>
                          <% }); %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('./partials/footer') %>
      </div>
    </div>

    <%- include('./partials/foot') %>
</body>

<script>
  const tbody = document.getElementById("doorsData");

  // Helper function for sorting on a given column, with a given comparator
  function tableSort(colNum, cmp) {
    let rows = [...tbody.rows];
    rows.sort((a, b) => cmp(a.cells[colNum].textContent, b.cells[colNum].textContent))
      .map(row => tbody.appendChild(row));
  }

  function sortIDAscending() {
    tableSort(0, (a, b) => a - b); // assuming that school column has number representations
  }

  function sortIDDescending() {
    tableSort(0, (a, b) => b - a); // assuming that school column has number representations
  }

  function sortDoorNameAscending() {
    tableSort(1, (a, b) => a.localeCompare(b)); // assuming that school column has number representations
  }

  function sortDoorNameDescending() {
    tableSort(1, (a, b) => b.localeCompare(a)); // assuming that school column has number representations
  }
</script>

</html>