<!DOCTYPE html>
<html lang="en">

  <% var rootPath = './'; %>

  <head>
    <%- include('./partials/head'); %>
  </head>
  
  <body class="dark-edition">
    <div class="wrapper ">
      <%- include('./partials/sidebar', {links: sidebar, logo: sideTitle}) %>
    <div class="main-panel">
      <%- include('./partials/navbar', {title: navTitle}) %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title"><%= panelTitle %></h4>
                  <p class="card-category"><%= panelSubtext %></p>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('./partials/footer'); %>
    </div>
  </div>
  <%- include('./partials/foot') %>
</body>

</html>