<!DOCTYPE html>
<html lang="en">

<% var rootPath = './'; %>

<head>
  <%- include('./partials/head'); %>
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <%- include('./partials/sidebar', {links: sidebar, logo: sideTitle}) %>
    <div class="main-panel">
      <%- include('./partials/navbar', {title: navTitle}) %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-nav-tabs card-plain">
                <div class="card-header card-header-primary">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <% tabBar.forEach(function(tab) { %>
                          <li class="nav-item">
                            <% if (tab.status) { %>
                              <a class="nav-link active show" href=<%= tab.url %>>
                            <% } else { %>
                              <a class="nav-link show" href=<%= tab.url %>>
                            <% } %>
                                <i class="material-icons"><%= tab.icon %></i>
                                <%= tab.text %>
                                <div class="ripple-container"></div>
                              </a>
                          </li>
                        <% }); %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title "><%= panelTitle %></h4>
                    <p class="card-category">Please Select a Door</p>
                  </div>
                  <div class="card-body">
                    <div class="col-md-5">
                      <a href="<%= rootPath %>doors/add"><button class="btn btn-primary">Add New Door</button></a>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>
                            ID
                          </th>
                          <th>
                            Door
                          </th>
                          <th>
                            IP Address
                          </th>
                          <th>
                            Status
                          </th>
                          <th>
                            Alarm
                          </th>
                          <th>
                          </th>
                        </thead>
                        <tbody>
                          <% doors.forEach(function(door) { %>
                          <tr>
                            <td>
                              <%= door.id %>
                            </td>
                            <td>
                              <%= door.name %>
                            </td>
                            <td>
                              <%= door.ip %>
                            </td>
                            <td class=<%= door.statusTextStyle %>>
                              <%= door.status %>
                            </td>
                            <td class=<%= door.alarmTextStyle %>>
                              <%= door.alarm %>
                            </td>
                            <td>
                              <a href="/org/<%= orgID %>/company/<%= companyID %>/site/<%= siteID %>/doors/<%= door.id %>"><button class="btn btn-primary">Select</button></a>
                            </td>
                          </tr>
                          <% }); %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('./partials/footer') %>
      </div>
    </div>

    <%- include('./partials/foot') %>
</body>

</html>