<!DOCTYPE html>
<html lang="en">

  <script>
    trimSlashes = str => str.split('/').filter(v => v !== '').join('/');
  
    let sanitized = window.location.pathname;
    sanitized = trimSlashes(sanitized);
    
    const newURL = window.location.protocol + '//' + window.location.host + '/'+ sanitized;
  
    if (window.location.href !== newURL) {
       window.location.href = newURL;
    }
  </script>

<head>
  <%- include('./partials/head'); %>
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <%- include('./partials/sidebar', {links: sidebar, logo: sideTitle}) %>
    <div class="main-panel">
      <%- include('./partials/navbar', {title: navTitle}) %>
      <div class="content">
        <div class="container-fluid">
          <%- include('./partials/tabBar', {tabs: tabBar}) %>
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <div class="row">
                    <div class="col-md-4">
                      <h4 class="card-title">
                        <%= panelTitle %> (Editing)
                      </h4>
                    </div>
                    <div class="col-md-8">
                      <button type="submit" class="btn btn-primary pull-right" onclick="tryEditing()" value="Submit">Submit</button>
                      <a href="/org/<%= orgID %>/company/<%= companyID %>/site/<%= siteID %>/doors/<%= door.id %>"><button class="btn btn-primary pull-right">Cancel</button></a>
                    </div>
                  </div>
                  <p class="card-category">
                    <%= panelSubtext %>
                  </p>
                </div>
                <form id="editDoorForm" method="post">
                  <div class="card text-right">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Door Name" value="<%= door.name %>">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="ip">IP Address</label>
                            <input type="text" class="form-control" id="ip" name="ip" placeholder="XXX.XXX.XXX" value=<%= door.ip %>>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-header card-header-primary col-md-11">
                    <div class="card-title">
                      <h4>Groups</h4>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <% door.groups.forEach(function(group) { %>
                        <div class="col-md-2">
                          <div class="form-group">
                            <div class="form-check">
                              <label class="form-check-label">
                                <% if (door.doorgroupIDs.includes(group.id)) { %>
                                <input class="form-check-input" type="checkbox" value="<%= group.id %>" name="groups" checked>
                                <%} else { %>
                                <input class="form-check-input" type="checkbox" value="<%= group.id %>" name="groups">
                                <% } %>
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                                <%= group.name %>
                              </label>
                            </div>
                          </div>
                        </div>
                        <% }); %>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/footer'); %>

  <%- include('./partials/foot') %>
  
</body>

<script>

  async function tryEditing() {
    const formData = new FormData(document.getElementById('editDoorForm'))
    data = {};
    data.groups = [];
    for (const [key, value] of formData) {
      if (key == "groups") {
        data[key].push(value);
      }
      else {
        data[key] = value;
      }
    }
    await fetch(window.location.href, {
      method: 'PUT', // *GET, POST, PUT, DELETE, etc.
      mode: 'cors', // no-cors, *cors, same-origin
      cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
      credentials: 'same-origin', // include, *same-origin, omit
      headers: {
        'Content-Type': 'application/json'
        // 'Content-Type': 'application/x-www-form-urlencoded',
      },
      redirect: 'follow', // manual, *follow, error
      referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
      body: JSON.stringify(data) // body data type must match "Content-Type" header
    });
  window.location.href = '/org/<%= orgID %>/company/<%= companyID %>/site/<%= siteID %>/doors/<%= door.id %>';
}
</script>

</html>