<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <%- include('./partials/sidebar', {links: sidebar, logo: sideTitle}) %>
    <div class="main-panel">
      <%- include('./partials/navbar', {title: navTitle}) %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-nav-tabs card-plain">
                <div class="card-header card-header-primary">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <% tabBar.forEach(function(tab) { %>
                          <li class="nav-item">
                            <% if (tab.status) { %>
                              <a class="nav-link active show" href=<%= tab.url %>>
                            <% } else { %>
                              <a class="nav-link show" href=<%= tab.url %>>
                            <% } %>
                                <i class="material-icons"><%= tab.icon %></i>
                                <%= tab.text %>
                                <div class="ripple-container"></div>
                              </a>
                          </li>
                        <% }); %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <div class="row">
                    <div class="col-md-6">
                      <h4 class="card-title"><%= panelTitle %></h4>
                    </div>
                    <div class="col-md-6">
                      <button class="btn btn-primary pull-right">Delete</button></a>
                      <button class="btn btn-primary pull-right">Disable</button></a>
                      <a href="<%= thisURL %>/edit"><button class="btn btn-primary pull-right">Edit</button></a>
                    </div>
                  </div>
                  <p class="card-category"><%= panelSubtext %></p>
                </div>
                <form id="addUserForm" method="post">
                  <div class="card text-right">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="name">Group Name</label>
                            <input type="text" class="form-control" id="name" placeholder="<%= group.name %>" disabled>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="stime">Start Time</label>
                            <input type="text" class="form-control" id="stime" placeholder="<%= group.start_time %>" disabled>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="etime">End Time</label>
                            <input type="text" class="form-control" id="etime" placeholder="<%= group.end_time %>" disabled>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-header card-header-primary col-md-11">
                    <div class="card-title">
                      <h4>Doors</h4>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <% group.allDoors.forEach(function(door) { %>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="form-check">
                              <label class="form-check-label">
                                <% if (group.doorIDs.includes(door.id)) { %>
                                <input class="form-check-input" type="checkbox" value="<%= door.id %>" disabled checked>
                                <%} else { %>
                                <input class="form-check-input" type="checkbox" value="<%= door.id %>" disabled>
                                <% } %>
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                                <%= door.name %>
                              </label>
                            </div>
                          </div>
                        </div>
                        <% }); %>
                      </div>
                    </div>
                  </div>
                  <div class="card-header card-header-primary col-md-11">
                    <div class="card-title">
                      <h4>Users</h4>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <% group.allUsers.forEach(function(user) { %>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="form-check">
                              <label class="form-check-label">
                                <% if (group.userIDs.includes(user.id)) { %>
                                <input class="form-check-input" type="checkbox" value="<%= user.id %>" disabled checked>
                                <%} else { %>
                                <input class="form-check-input" type="checkbox" value="<%= user.id %>" disabled>
                                <% } %>
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                                <%= user.name %>
                              </label>
                            </div>
                          </div>
                        </div>
                        <% }); %>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/footer'); %>


  <%- include('./partials/foot'); %>


</body>

</html>