<!DOCTYPE html>
<html lang="en">

  <script>
    trimSlashes = str => str.split('/').filter(v => v !== '').join('/');
  
    let sanitized = window.location.pathname;
    sanitized = trimSlashes(sanitized);
    
    const newURL = window.location.protocol + '//' + window.location.host + '/'+ sanitized;
  
    if (window.location.href !== newURL) {
       window.location.href = newURL;
    }
  </script>

<head>
  <%- include('./partials/head'); %>
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <%- include('./partials/sidebar', {links: sidebar, logo: sideTitle}) %>
    <div class="main-panel">
      <%- include('./partials/navbar', {title: navTitle}) %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-nav-tabs card-plain">
                <div class="card-header card-header-primary">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <% tabBar.forEach(function(tab) { %>
                          <li class="nav-item">
                            <% if (tab.status) { %>
                              <a class="nav-link active show" href=<%= tab.url %>>
                            <% } else { %>
                              <a class="nav-link show" href=<%= tab.url %>>
                            <% } %>
                                <i class="material-icons"><%= tab.icon %></i>
                                <%= tab.text %>
                                <div class="ripple-container"></div>
                              </a>
                          </li>
                        <% }); %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <div class="row">
                    <div class="col-md-6">
                      <h4 class="card-title"><%= panelTitle %></h4>
                    </div>
                    <div class="col-md-6">
                      <button type="submit" class="btn btn-primary pull-right" onclick="tryEditing()" value="Submit">Submit</button>
                      <a href="/org/<%= orgID %>/company/<%= companyID %>/site/<%= siteID %>/groups/<%= group.id %>"><button class="btn btn-primary pull-right">Cancel</button></a>
                    </div>
                  </div>
                  <p class="card-category"><%= panelSubtext %></p>
                </div>
                <form id="editGroupForm" method="put">
                  <div class="card text-right">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="name">Group Name</label>
                            <input type="text" class="form-control" id="name" name ="name" value="<%= group.name %>" placeholder="Access Group">
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="stime">Start Time</label>
                            <input type="text" class="form-control" id="stime" name="stime" value="<%= group.start_time %>" placeholder="XX:XX:XX">
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <label cfor="etime">End Time</label>
                            <input type="text" class="form-control" id="etime" name="etime" value="<%= group.end_time %>" placeholder="XX:XX:XX">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-header card-header-primary col-md-11">
                    <div class="card-title">
                      <h4>Doors</h4>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <% group.allDoors.forEach(function(door) { %>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="form-check">
                              <label class="form-check-label">
                                <% if (group.doorIDs.includes(door.id)) { %>
                                <input class="form-check-input" type="checkbox" value="<%= door.id %>" name="doorgroups" checked>
                                <%} else { %>
                                <input class="form-check-input" type="checkbox" value="<%= door.id %>" name="doorgroups">
                                <% } %>
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                                <%= door.name %>
                              </label>
                            </div>
                          </div>
                        </div>
                        <% }); %>
                      </div>
                    </div>
                  </div>
                  <div class="card-header card-header-primary col-md-11">
                    <div class="card-title">
                      <h4>Users</h4>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <% group.allUsers.forEach(function(user) { %>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="form-check">
                              <label class="form-check-label">
                                <% if (group.userIDs.includes(user.id)) { %>
                                <input class="form-check-input" type="checkbox" value="<%= user.id %>" name="usergroups" checked>
                                <%} else { %>
                                <input class="form-check-input" type="checkbox" value="<%= user.id %>" name="usergroups">
                                <% } %>
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                                <%= user.name %>
                              </label>
                            </div>
                          </div>
                        </div>
                        <% }); %>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./partials/footer'); %>

    <%- include('./partials/foot'); %>



</body>

<script>

  async function tryEditing() {
    const formData = new FormData(document.getElementById('editGroupForm'))
    data = {};
    data.doorgroups = [];
    data.usergroups = [];
    for (const [key, value] of formData) {
      if (key == "doorgroups" || key == "usergroups") {
        data[key].push(value);
      }
      else {
        data[key] = value;
      }
    }

    await fetch(window.location.href, {
      method: 'PUT', // *GET, POST, PUT, DELETE, etc.
      mode: 'cors', // no-cors, *cors, same-origin
      cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
      credentials: 'same-origin', // include, *same-origin, omit
      headers: {
        'Content-Type': 'application/json'
        // 'Content-Type': 'application/x-www-form-urlencoded',
      },
      redirect: 'follow', // manual, *follow, error
      referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
      body: JSON.stringify(data) // body data type must match "Content-Type" header
    });
  window.location.href = '/org/<%= orgID %>/company/<%= companyID %>/site/<%= siteID %>/groups/<%= group.id %>';
}
</script>

</html>