<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./partials/head'); %>
  </head>
  
  <body class="dark-edition">
    <div class="wrapper ">
      <%- include('./partials/sidebar', {links: sidebar, logo: sideTitle}) %>
      <div class="main-panel">
      <%- include('./partials/navbar', {title: navTitle}) %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title "><%= panelTitle %></h4>
                  <p class="card-category"><%= panelSubtext %></p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <th>
                          <button onclick="sortLastNameDescending()">
                            <i class="material-icons">arrow_drop_down</i>
                          </button>
                          <button onclick="sortLastNameAscending()">
                            <i class="material-icons">arrow_drop_up</i>
                          </button>
                        </th>
                        <th>
                          <button onclick="sortFirstNameDescending()">
                            <i class="material-icons">arrow_drop_down</i>
                          </button>
                          <button onclick="sortFirstNameAscending()">
                            <i class="material-icons">arrow_drop_up</i>
                          </button>
                        </th>
                        <th>
                          <button onclick="sortCompanyNameDescending()">
                            <i class="material-icons">arrow_drop_down</i>
                          </button>
                          <button onclick="sortCompanyNameAscending()">
                            <i class="material-icons">arrow_drop_up</i>
                          </button>
                        </th>
                        <th>
                          <button onclick="sortSiteNameDescending()">
                            <i class="material-icons">arrow_drop_down</i>
                          </button>
                          <button onclick="sortSiteNameAscending()">
                            <i class="material-icons">arrow_drop_up</i>
                          </button>
                        </th>
                        <th>
                          <button onclick="sortFOBDescending()">
                            <i class="material-icons">arrow_drop_down</i>
                          </button>
                          <button onclick="sortFOBAscending()">
                            <i class="material-icons">arrow_drop_up</i>
                          </button>
                        </th>
                        <th>
                          <button onclick="sortEIDDescending()">
                            <i class="material-icons">arrow_drop_down</i>
                          </button>
                          <button onclick="sortEIDAscending()">
                            <i class="material-icons">arrow_drop_up</i>
                          </button>
                        </th>
                        <th>
                          
                        </th>
                        <th>
                        </th>
                      </thead>
                      <tbody class=" text-primary">
                        <th>
                          First Name
                        </th>
                        <th>
                          Last Name
                        </th>
                        <th>
                          Company
                        </th>
                        <th>
                          Site
                        </th>
                        <th>
                          Fob
                        </th>
                        <th>
                          Employee ID
                        </th>
                        <th>

                        </th>
                      </tbody>
                      <tbody id="usersData">
                        <% users.forEach(function(user) { %>
                          <tr>
                            <td>
                              <%= user.first_name %>
                            </td>
                            <td>
                              <%= user.last_name %>
                            </td>
                            <td>
                              <%= user.companyName %>
                            </td>
                            <td>
                              <%= user.siteName %>
                            </td>
                            <td>
                              <%= user.fob_id %>
                            </td>
                            <td>
                              <%= user.employee_id %>
                            </td>
                            <td>
                              <a href="/org/<%= orgID %>/company/<%= user.company_id_users %>/site/<%= user.site_id_users %>/users/<%= user.id %>"><button class="btn btn-primary">Select</button></a>
                            </td>
                          </tr>
                        <% }); %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include('./partials/footer'); %>
    </div>
  </div>

  <%- include('./partials/foot'); %>
</body>

<script>
  const tbody = document.getElementById("usersData");

// Helper function for sorting on a given column, with a given comparator
function tableSort(colNum, cmp) {
  let rows = [...tbody.rows];
  rows.sort((a, b) => cmp(a.cells[colNum].textContent, b.cells[colNum].textContent))
    .map(row => tbody.appendChild(row));
}

function sortLastNameAscending() {
  tableSort(0, (a, b) => a.localeCompare(b)); // assuming that school column has number representations
}

function sortLastNameDescending() {
  tableSort(0, (a, b) => b.localeCompare(a)); // assuming that school column has number representations
}

function sortFirstNameAscending() {
  tableSort(1, (a, b) => a.localeCompare(b)); // assuming that location column has strings
}

function sortFirstNameDescending() {
  tableSort(1, (a, b) => b.localeCompare(a)); // assuming that location column has strings
}

function sortCompanyNameAscending() {
  tableSort(2, (a, b) => a.localeCompare(b)); // assuming that location column has strings
}

function sortCompanyNameDescending() {
  tableSort(2, (a, b) => b.localeCompare(a)); // assuming that location column has strings
}

function sortSiteNameAscending() {
  tableSort(3, (a, b) => a.localeCompare(b)); // assuming that location column has strings
}

function sortSiteNameDescending() {
  tableSort(3, (a, b) => b.localeCompare(a)); // assuming that location column has strings
}

function sortFOBAscending() {
  tableSort(4, (a, b) => a - b); // assuming that school column has number representations
}

function sortFOBDescending() {
  tableSort(4, (a, b) => b - a); // assuming that school column has number representations
}

function sortEIDAscending() {
  tableSort(5, (a, b) => a - b); // assuming that school column has number representations
}

function sortEIDDescending() {
  tableSort(5, (a, b) => b - a); // assuming that school column has number representations
}
</script>

</html>