<!DOCTYPE html>
<html lang="en">

  <script>
    trimSlashes = str => str.split('/').filter(v => v !== '').join('/');
  
    let sanitized = window.location.pathname;
    sanitized = trimSlashes(sanitized);
    
    const newURL = window.location.protocol + '//' + window.location.host + '/'+ sanitized;
  
    if (window.location.href !== newURL) {
       window.location.href = newURL;
    }
  </script>

<head>
  <%- include('./partials/head'); %>
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <%- include('./partials/sidebar', {links: sidebar, logo: sideTitle}) %>
    <div class="main-panel">
      <%- include('./partials/navbar', {title: navTitle}) %>
      <div class="content">
        <div class="container-fluid">
          <%- include('./partials/tabBar', {tabs: tabBar}) %>
          <div class="row">
            <div class="col-md-10">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title"><%= panelTitle %></h4>
                  <p class="card-category"><%= panelSubtext %></p>
                </div>
                <div class="card card-nav-tabs card-plain">
                  <div class="card-header card-header-primary">
                      <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <ul class="nav nav-tabs" data-tabs="tabs">
                                  <li class="nav-item">
                                      <a class="nav-link active" href="#site" data-toggle="tab">Site</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#doors" data-toggle="tab">Doors</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#users" data-toggle="tab">Users</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="tab-content">
                          <div class="tab-pane active" id="site">
                            <div class="card-body">
                              <div class="col-md-5">
                                <button type="submit" class="btn btn-primary" onclick="tryGenSite()" value="Submit">Event Log</button>
                              </div>
                            </div>
                            <form id="siteReportForm" method="post">
                              <div class="row">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label class="bmd-label-floating" >Report Title</label>
                                    <input type="text" class="form-control" name="name">
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label class="bmd-label-floating" >Start Time HH:MM:SS</label>
                                    <input type="text" class="form-control" name="stime">
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label class="bmd-label-floating" >Start Date YYYY-MM-DD</label>
                                    <input type="text" class="form-control" name="sdate">
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label class="bmd-label-floating">End Time HH:MM:SS</label>
                                    <input type="text" class="form-control" name="etime">
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="form-group">
                                    <label class="bmd-label-floating" >End Date YYYY-MM-DD</label>
                                    <input type="text" class="form-control" name="edate">
                                  </div>
                                </div>
                              </div>
                              <div class="card-body">
                                <h5>Doors</h5>
                              </div>
                              <div class="row">
                                <% group.allDoors.forEach(function(door) { %>
                                  <div class="col-md-1"></div>
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <div class="form-check">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" value="<%= door.name %>" name="sitedoorgroups">
                                          <span class="form-check-sign">
                                            <span class="check"></span>
                                          </span>
                                          <%= door.name %>
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                <% }); %>
                              </div>
                              <div class="card-body">
                                <h5>Users</h5>
                              </div>
                              <div class="row">
                                <% group.allUsers.forEach(function(user) { %>
                                  <div class="col-md-1"></div>
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <div class="form-check">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" value="<%= user.fob_id %>" name="siteusergroups">
                                          <span class="form-check-sign">
                                            <span class="check"></span>
                                          </span>
                                          <%= user.name %>
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                <% }); %>
                              </div>
                              <div class="clearfix"></div>
                            </form>
                          </div>
                          <div class="tab-pane" id="doors">
                            <div class="card-body">
                              <div class="col-md-5">
                                <button type="submit" class="btn btn-primary" onclick="tryGenDoorEvent()" value="Submit">Event Log</button>
                                <button type="submit" class="btn btn-primary" onclick="tryGenDoorAccess()" value="Submit">Access Log</button>
                              </div>
                            </div>
                            <form id="doorsReportForm" method="post">
                              <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label class="bmd-label-floating" >Report Title</label>
                                    <input type="text" class="form-control" name="name">
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label class="bmd-label-floating" >Start Time HH:MM:SS</label>
                                    <input type="text" class="form-control" name="stime">
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label class="bmd-label-floating" >Start Date YYYY-MM-DD</label>
                                    <input type="text" class="form-control" name="sdate">
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label class="bmd-label-floating">End Time HH:MM:SS</label>
                                    <input type="text" class="form-control" name="etime">
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="form-group">
                                    <label class="bmd-label-floating" >End Date YYYY-MM-DD</label>
                                    <input type="text" class="form-control" name="edate">
                                  </div>
                                </div>
                              </div>
                              <div class="card-body">
                                <h5>Doors</h5>
                              </div>
                              <div class="row">
                                <% group.allDoors.forEach(function(door) { %>
                                  <div class="col-md-1"></div>
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <div class="form-check">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" value="<%= door.name %>" name="dooronlygroups">
                                          <span class="form-check-sign">
                                            <span class="check"></span>
                                          </span>
                                          <%= door.name %>
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                <% }); %>
                              </div>
                              <div class="clearfix"></div>
                            </form>
                          </div>
                          <div class="tab-pane" id="users">
                            <div class="card-body">
                              <div class="col-md-5">
                                <button type="submit" class="btn btn-primary" onclick="tryGenUsers()" value="Submit">Event Log</button>
                              </div>
                            </div>
                            <form id="usersReportForm" method="post">
                              <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label class="bmd-label-floating" >Report Title</label>
                                    <input type="text" class="form-control" name="name">
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label class="bmd-label-floating" >Start Time HH:MM:SS</label>
                                    <input type="text" class="form-control" name="stime">
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label class="bmd-label-floating" >Start Date YYYY-MM-DD</label>
                                    <input type="text" class="form-control" name="sdate">
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                    <label class="bmd-label-floating">End Time HH:MM:SS</label>
                                    <input type="text" class="form-control" name="etime">
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="form-group">
                                    <label class="bmd-label-floating" >End Date YYYY-MM-DD</label>
                                    <input type="text" class="form-control" name="edate">
                                  </div>
                                </div>
                              </div>
                              <div class="card-body">
                                <h5>Users</h5>
                              </div>
                              <div class="row">
                                <% group.allUsers.forEach(function(user) { %>
                                  <div class="col-md-1"></div>
                                  <div class="col-md-2">
                                    <div class="form-group">
                                      <div class="form-check">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" value="<%= user.fob_id %>" name="useronlygroups">
                                          <span class="form-check-sign">
                                            <span class="check"></span>
                                          </span>
                                          <%= user.name %>
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                <% }); %>
                              </div>
                              <div class="clearfix"></div>
                            </form>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <%- include('./partials/footer'); %>
    </div>
  </div>
  
  <%- include('./partials/foot'); %>
  <script>
    function tryGenSite() {
      let form = document.getElementById("siteReportForm")
      form.submit();
    }
    function tryGenDoorEvent() {
      let form = document.getElementById("doorsReportForm")
      let input = document.createElement('input');
      input.setAttribute('name', 'logtype');
      input.setAttribute('value', 'event');
      input.setAttribute('type', 'hidden');

      form.appendChild(input);
      form.submit();
    }
    function tryGenDoorAccess() {
      let form = document.getElementById("doorsReportForm")
      let input = document.createElement('input');
      input.setAttribute('name', 'logtype');
      input.setAttribute('value', 'access');
      input.setAttribute('type', 'hidden');

      form.appendChild(input);
      form.submit();
    }
    function tryGenUsers() {
      let form = document.getElementById("usersReportForm")
      form.submit();
    }
  </script>


</body>

</html>