<!DOCTYPE html>
<html lang="en">

  <script>
    trimSlashes = str => str.split('/').filter(v => v !== '').join('/');
  
    let sanitized = window.location.pathname;
    sanitized = trimSlashes(sanitized);
    
    const newURL = window.location.protocol + '//' + window.location.host + '/'+ sanitized;
  
    if (window.location.href !== newURL) {
       window.location.href = newURL;
    }
  </script>

<head>
  <%- include('./partials/head'); %>
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <%- include('./partials/sidebar', {links: sidebar, logo: sideTitle}) %>
    <div class="main-panel">
      <%- include('./partials/navbar', {title: navTitle}) %>
      <div class="content">
        <div class="container-fluid">
          <%- include('./partials/tabBar', {tabs: tabBar}) %>
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <div class="row">
                      <div class="col-md-6">
                        <h4 class="card-title"><%= panelTitle %></h4>
                      </div>
                      <div class="col-md-4">
                        <button type="submit" class="btn btn-primary pull-right" onclick="tryAdding()" value="Submit">Submit</button>
                        <a href="/org/<%= orgID %>/company/<%= companyID %>/site/<%= siteID %>/roles"><button class="btn btn-primary pull-right">Cancel</button></a>
                      </div>
                    </div>
                    <p class="card-category"><%= panelSubtext %></p>
                  </div>
                  <form id="addRoleForm" method="post">
                    <div class="card text-right">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="name">Role Name</label>
                              <input type="text" class="form-control" id="name" name="name" placeholder="Role Name">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-header card-header-primary col-md-11">
                      <div class="card-title">
                        <h4>Permissions</h4>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <% role.allPerms.forEach(function(perm) { %>
                          <div class="col-md-6">
                            <div class="form-group">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="<%= perm.id %>" name="permgroups">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                  <%= perm.name %>
                                </label>
                              </div>
                            </div>
                          </div>
                          <% }); %>
                        </div>
                      </div>
                    </div>
                    <div class="card-header card-header-primary col-md-11">
                      <div class="card-title">
                        <h4>Users</h4>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <% role.allUsers.forEach(function(user) { %>
                          <div class="col-md-6">
                            <div class="form-group">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="<%= user.id %>" name="usergroups">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                  <%= user.name %>
                                </label>
                              </div>
                            </div>
                          </div>
                          <% }); %>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <%- include('./partials/footer'); %>
  </div>
</div>
  
  <%- include('./partials/foot'); %>
  <script>
    function tryAdding() {
      document.getElementById("addRoleForm").submit();
    }
  </script>


</body>

</html>