<!DOCTYPE html>
<html lang="en">

  <script>
    trimSlashes = str => str.split('/').filter(v => v !== '').join('/');
  
    let sanitized = window.location.pathname;
    sanitized = trimSlashes(sanitized);
    
    const newURL = window.location.protocol + '//' + window.location.host + '/'+ sanitized;
  
    if (window.location.href !== newURL) {
       window.location.href = newURL;
    }
  </script>


<head>
  <%- include('./partials/head'); %>
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <%- include('./partials/sidebar', {links: sidebar, logo: sideTitle}) %>
    <div class="main-panel">
      <%- include('./partials/navbar', {title: navTitle}) %>
      <div class="content">
        <div class="container-fluid">
          <%- include('./partials/tabBar', {tabs: tabBar}) %>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title "><%= panelTitle %></h4>
                  <p class="card-category"><%= panelSubtext %></p>
                </div>
                <div class="card-body">
                  <div class="col-md-5">
                    <a href="<%= thisURL %>/add"><button class="btn btn-primary">Add New Role</button></a>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <th>
                          <button onclick="sortIDDescending()">
                            <i class="material-icons">expand_more</i>
                          </button>
                          <button onclick="sortIDAscending()">
                            <i class="material-icons">expand_less</i>
                          </button>
                        </th>
                        <th>
                          <button onclick="sortGroupNameDescending()">
                            <i class="material-icons">expand_more</i>
                          </button>
                          <button onclick="sortGroupNameAscending()">
                            <i class="material-icons">expand_less</i>
                          </button>
                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                      </thead>
                      <tbody class=" text-primary">
                        <th>
                          Role Name
                        </th>
                        <th>
                          Description
                        </th>
                        <th>
                          Users
                        </th>
                        <th>

                        </th>
                      </tbody>
                      <tbody id ="groupsData">
                        <% groups.forEach(function(group) { %>
                        <tr>
                          <td>
                            <%= group.name %>
                          </td>
                          <td>
                            <!-- <%= group.start_time %> - <%= group.end_time %> -->
                            This Role Gives Managers Control
                          </td>
                          <td>
                            <%= group.users %>
                          </td>
                          <td>
                            <a href="/org/<%= orgID %>/company/<%= companyID %>/site/<%= siteID %>/groups/<%= group.id %>"><button class="btn btn-primary">Select</button></a>
                          </td>
                        </tr>
                        <% }); %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include('./partials/footer'); %>
    </div>
  </div>

  <%- include('./partials/foot'); %>
</body>

<script>
  const tbody = document.getElementById("groupsData");

  // Helper function for sorting on a given column, with a given comparator
  function tableSort(colNum, cmp) {
    let rows = [...tbody.rows];
    rows.sort((a, b) => cmp(a.cells[colNum].textContent, b.cells[colNum].textContent))
      .map(row => tbody.appendChild(row));
  }

  function sortIDAscending() {
    tableSort(0, (a, b) => a - b); // assuming that school column has number representations
  }

  function sortIDDescending() {
    tableSort(0, (a, b) => b - a); // assuming that school column has number representations
  }

  function sortGroupNameAscending() {
    tableSort(1, (a, b) => a.localeCompare(b)); // assuming that school column has number representations
  }

  function sortGroupNameDescending() {
    tableSort(1, (a, b) => b.localeCompare(a)); // assuming that school column has number representations
  }
</script>

</html>