<!DOCTYPE html>
<html lang="en">

  <script>
    trimSlashes = str => str.split('/').filter(v => v !== '').join('/');
  
    let sanitized = window.location.pathname;
    sanitized = trimSlashes(sanitized);
    
    const newURL = window.location.protocol + '//' + window.location.host + '/'+ sanitized;
  
    if (window.location.href !== newURL) {
       window.location.href = newURL;
    }
  </script>

  <head>
    <%- include('./partials/head'); %>
  </head>
  
  <body class="dark-edition">
    <div class="wrapper ">
      <%- include('./partials/sidebar', {links: sidebar, logo: sideTitle}) %>
    <div class="main-panel">
      <%- include('./partials/navbar', {title: navTitle}) %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-nav-tabs card-plain">
                <div class="card-header card-header-primary">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <% tabBar.forEach(function(tab) { %>
                          <li class="nav-item">
                            <% if (tab.status) { %>
                              <a class="nav-link active show" href=<%= tab.url %>>
                            <% } else { %>
                              <a class="nav-link show" href=<%= tab.url %>>
                            <% } %>
                                <i class="material-icons"><%= tab.icon %></i>
                                <%= tab.text %>
                                <div class="ripple-container"></div>
                              </a>
                          </li>
                        <% }); %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title"><%= panelTitle %></h4>
                  <p class="card-category">Site Panel</p>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('./partials/footer'); %>
    </div>
  </div>
  <%- include('./partials/foot') %>
</body>

</html>