<!DOCTYPE html>
<html lang="en">

<% var rootPath = './'; %>

<head>
  <%- include('./partials/head'); %>
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <%- include('./partials/sidebar', {links: sidebar, logo: sideTitle}) %>
    <div class="main-panel">
      <%- include('./partials/navbar', {title: navTitle}) %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-nav-tabs card-plain">
                <div class="card-header card-header-primary">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <% tabBar.forEach(function(tab) { %>
                          <li class="nav-item">
                            <% if (tab.status) { %>
                              <a class="nav-link active show" href=<%= tab.url %>>
                            <% } else { %>
                              <a class="nav-link show" href=<%= tab.url %>>
                            <% } %>
                                <i class="material-icons"><%= tab.icon %></i>
                                <%= tab.text %>
                                <div class="ripple-container"></div>
                              </a>
                          </li>
                        <% }); %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <div class="row">
                    <div class="col-md-6">
                      <h4 class="card-title"><%= panelTitle %></h4>
                    </div>
                    <div class="col-md-6">
                      <button class="btn btn-primary pull-right" onclick=tryDeleting(<%= user.id %>)>Delete</button></a>
                      <button class="btn btn-primary pull-right" id="delete">Disable</button></a>
                      <a href="<%= rootPath %><%= user.id %>/edit"><button class="btn btn-primary pull-right">Edit</button></a>
                    </div>
                  </div>
                  <p class="card-category"><%= panelSubtext %></p>
                </div>
                <form id="addUserForm" method="post">
                  <div class="card text-right">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="fname">First Name</label>
                            <% if (user.first_name) { %>
                            <input type="text" class="form-control" id="fname" name="fname" value="<%= user.first_name %>" placeholder="John" disabled>
                            <% } else { %>
                            <input type="text" class="form-control" id="fname" name="fname" placeholder="John" disabled>
                            <% } %>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="lname">Last Name</label>
                            <% if (user.last_name) { %>
                            <input type="text" class="form-control" id="lname" name="lname" value="<%= user.last_name %>" placeholder="Doe" disabled>
                            <% } else { %>
                            <input type="text" class="form-control" id="lname" name="lname" placeholder="Doe" disabled>
                            <% } %>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="fob">Fob Number</label>
                            <% if (user.fob_id) { %>
                            <input type="text" class="form-control" id="fob" name="fob" value="<%= user.fob_id %>" placeholder="#####" disabled>
                            <% } else { %>
                            <input type="text" class="form-control" id="fob" name="fob" placeholder="#####" disabled>
                            <% } %>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="eid">Employee ID</label>
                            <% if (user.employee_id) { %>
                            <input type="text" class="form-control" id="eid" name="eid" value="<%= user.employee_id %>" placeholder="#####" disabled>
                            <% } else { %>
                            <input type="text" class="form-control" id="eid" name="eid" placeholder="#####" disabled>
                            <% } %>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="email">Email Address</label>
                            <% if (user.email) {%>
                            <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" placeholder="User@Email.com" disabled>
                            <% } else { %>
                            <input type="email" class="form-control" id="email" name="email" placeholder="User@Email.com" disabled>
                            <% } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-header card-header-primary col-md-11">
                    <div class="card-title">
                      <h4>Groups</h4>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <% user.groups.forEach(function(group) { %>
                        <div class="col-md-2">
                          <div class="form-group">
                            <div class="form-check">
                              <label class="form-check-label">
                                <% if (user.doorgroupIDs.includes(group.id)) { %>
                                <input class="form-check-input" type="checkbox" value="<%= group.id %>" name="groups" disabled checked>
                                <%} else { %>
                                <input class="form-check-input" type="checkbox" value="<%= group.id %>" name="groups" disabled>
                                <% } %>
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                                <%= group.name %>
                              </label>
                            </div>
                          </div>
                        </div>
                        <% }); %>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./partials/footer'); %>
  </div>
  </div>

  <%- include('./partials/foot'); %>

  <script>
    async function tryDeleting(userID) {
      data = {command: "delete", uID: userID};
      await fetch(window.location.href, {
    method: 'POST', // *GET, POST, PUT, DELETE, etc.
    mode: 'cors', // no-cors, *cors, same-origin
    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
    credentials: 'same-origin', // include, *same-origin, omit
    headers: {
      'Content-Type': 'application/json'
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    redirect: 'follow', // manual, *follow, error
    referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
    body: JSON.stringify(data) // body data type must match "Content-Type" header
    });
    window.location.href = '<%= rootPath %>processing';
    }
  </script>


</body>

</html>