<!DOCTYPE html>
<html lang="en">

  <% var rootPath = './'; %>

  <head>
    <%- include('./partials/head'); %>
  </head>
  
  <body class="dark-edition">
    <div class="wrapper ">
      <%- include('./partials/sidebar', {links: sidebar, logo: sideTitle}) %>
      <div class="main-panel">
      <%- include('./partials/navbar', {title: navTitle}) %>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-nav-tabs card-plain">
                <div class="card-header card-header-primary">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <% tabBar.forEach(function(tab) { %>
                          <li class="nav-item">
                            <% if (tab.status) { %>
                              <a class="nav-link active show" href=<%= tab.url %>>
                            <% } else { %>
                              <a class="nav-link show" href=<%= tab.url %>>
                            <% } %>
                                <i class="material-icons"><%= tab.icon %></i>
                                <%= tab.text %>
                                <div class="ripple-container"></div>
                              </a>
                          </li>
                        <% }); %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title "><%= panelTitle %></h4>
                  <p class="card-category"><%= panelSubtext %></p>
                </div>
                <div class="card-body">
                  <div class="col-md-12">
                    <a href="<%= rootPath %>users/add"><button class="btn btn-primary">Add New User</button></a>
                    <button onclick="sortLastNameAscending()">Last Name Asc</button>
                    <button onclick="sortLastNameDescending()">Last Name Desc</button>
                    <button onclick="sortFirstNameAscending()">First Name Asc</button>
                    <button onclick="sortFirstNameDescending()">First Name Desc</button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Last Name
                        </th>
                        <th>
                          First Name
                        </th>
                        <th>
                          FOB
                        </th>
                        <th>
                          Employee ID
                        </th>
                        <th>
                          Groups
                        </th>
                        <th>
                        </th>
                      </thead>
                      <tbody id ="usersData">
                        <% users.forEach(function(user) { %>
                          <tr>
                            <td>
                              <%= user.id %>
                            </td>
                            <td>
                              <%= user.last_name %>
                            </td>
                            <td>
                              <%= user.first_name %>
                            </td>
                            <td>
                              <%= user.fob_id %>
                            </td>
                            <td>
                              <%= user.employee_id %>
                            </td>
                            <td>
                              <%= user.doorgroups %>
                            </td>
                            <td>
                              <a href="<% rootPath%>users/<%= user.id %>"><button class="btn btn-primary">Select</button></a>
                            </td>
                          </tr>
                        <% }); %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include('./partials/footer'); %>
    </div>
  </div>

  <%- include('./partials/foot'); %>
</body>

<script>
  const tbody = document.getElementById("usersData");

// Helper function for sorting on a given column, with a given comparator
function tableSort(colNum, cmp) {
  let rows = [...tbody.rows];
  rows.sort((a, b) => cmp(a.cells[colNum].textContent, b.cells[colNum].textContent))
    .map(row => tbody.appendChild(row));
}

function sortIDAscending() {
  tableSort(0, (a, b) => a - b); // assuming that school column has number representations
}

function sortIDDescending() {
  tableSort(0, (a, b) => b - a); // assuming that school column has number representations
}

function sortLastNameAscending() {
  tableSort(1, (a, b) => a.localeCompare(b)); // assuming that school column has number representations
}

function sortLastNameDescending() {
  tableSort(1, (a, b) => b.localeCompare(a)); // assuming that school column has number representations
}

function sortFirstNameAscending() {
  tableSort(2, (a, b) => a.localeCompare(b)); // assuming that location column has strings
}

function sortFirstNameDescending() {
  tableSort(2, (a, b) => b.localeCompare(a)); // assuming that location column has strings
}
</script>

</html>